@media only screen and (max-width: 320px) {

    .container{
        width: 100%;
        margin: 0 auto;
    }

    .menu{
    display: flex;
    flex-direction: column;
    }

    .menu li{
        width: 95%;
    }

    .menu li a{
        width: 95%;
        font-size: 15px;
    }
}

@media only screen and (max-width: 480px) {
    .container{
        width: 100%;
        margin: 0 auto;
    }

    .menu{
    display: flex;
    flex-direction: column;
    }

    .menu li{
        width: 95%;
    }

    .menu li a{
        width: 95%;
        font-size: 15px;
    }
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 992px) {
}

@media only screen and(max-width: 1200px) {
}